body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* h1 {
  font-size: 16px;
  text-transform: capitalize;
} */

.app-container-wrapper {
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  margin: 80px auto 0;
}

.Weather {
  margin-top: 30px;
  padding: 70px;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(89, 89, 99, 0.2);
}

.Weather .search-box {
  border: none;
  color: rgba(138, 133, 135, 0.8);
  padding: 10px 20px;
}

.Weather .btn {
  background: #335360;
  border: none;
  font-weight: 600;
  padding: 10px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .weather-overview {
  margin-bottom: 15px;
}

/* .Weather .weather-temperature {
  line-height: 20px;
} */

.current-location {
  background: rgb(221, 221, 221);
  color: black;
}

.dark {
  font-weight: bold;
}

.degree-in-fahrenheit {
  transition: all 200ms ease-in-out;
}

.degree-in-fahrenheit:hover {
  cursor: pointer;
}

.degree-in-celcius {
  transition: all 200ms ease-in-out;
}

.degree-in-celcius:hover {
  cursor: pointer;
}

.day {
  font-weight: 500;
}

.github-link {
  text-align: center;
  font-size: 13px;
  color: white;
}
.github-link a {
  text-decoration: none;
}

.github-link a:hover {
  text-decoration: underline;
}

/* #future-weather-info {
  font-weight: 100;
}

#future-weather-info .col {
  width: auto;
  font-weight: 300;
  border: 1px solid rgb(110, 136, 161);
  padding: 10px 5px;
  border-top: 0;
  border-bottom: 0;
  transition: all 200ms ease-in-out;
}
#future-weather-info .col:hover {
  background: rgb(221, 221, 221);
  border-radius: 8px;
  cursor: pointer;
}

#today {
  background: rgb(221, 221, 221);
  border-radius: 8px;
}
#current-weather-info {
  position: relative;
  top: 24px;
  left: -126px;
  margin-bottom: 50px;
}

#current-weather-info #current-day-precipitation {
  position: relative;
  left: 244px;
} */

.Weather .header-cities {
  padding-bottom: 30px;
}

.Weather .header-cities li {
  display: inline;
  border: 2px solid #335360;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 17px;
  transition: all 200ms ease-in-out;
}

.Weather .header-cities li:hover {
  background-color: #335360;
  cursor: pointer;
  color: white;
}
